* {
  text-decoration: none;
  font-size: 1.1rem;
  margin-top: 0rem;
  font-weight: bold;
}

.main {
  width: 100%;
  justify-content: center;
  margin: 0rem;
  padding: 0rem;
  border-radius: 1rem;
}

.login {
  margin-top: 12.7rem;
  margin-right: 0rem;
  margin-left: 0rem;
  padding: 0rem;
}

.register {
  padding-top: 2rem;
  margin-top: 6.5rem;
}

h2 {
  font-size: 1.5rem;
  text-align: center;
}

h5 {
  font-size: 1.2rem;
  margin: 1rem;
  padding: 1.2rem;
}

.errorMessage {
  color: red;
  margin-top: 1rem;
  padding-left: 1rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.adjustItem {
  margin: 1.2rem;
}
